<mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start">
    <mat-tab label="智能问答">
        <app-intelligent-answering></app-intelligent-answering>
    </mat-tab>
    <mat-tab label="代码转换">
        <app-code-translate></app-code-translate>
    </mat-tab>
    <!-- <mat-tab label="代码搜索">
        <app-code-search></app-code-search>
    </mat-tab> -->
</mat-tab-group>
<footer>
    <div style="padding: 2px; width: 100%;">
        <p style="text-align: center; color: rgba(212, 212, 212, 0.6); margin: 0;">Copyright © 2024 深圳市法本信息技术股份有限公司</p>
    </div>
</footer>