<section>
    <!-- 对话列表 -->
    <div class="dialog-list" #dialogDom>
        @for (item of dialogs(); track $index) {
        <div class="dialog-items">
            <div class="header">
                <mat-icon>person</mat-icon>
                <strong style="font-size: 16px;">{{ userInfo()?.userName }}</strong>
                <span style="flex: 1"></span>
                <button mat-button (click)="copyText(item.question)"> 复制问题 </button>
            </div>
            <div class="question">
                <app-markdown-render [content]="item.question"></app-markdown-render>
            </div>
            <div class="header">
                <mat-icon>psychology</mat-icon>
                <strong style="font-size: 16px;">CoderAI</strong>
                <span style="flex: 1"></span>
            </div>
            <div class="answer">
                <app-markdown-render [content]="item.answer"></app-markdown-render>
            </div>
        </div>
        } @empty {
        <div class="empty-content">
            <div class='app-tips'>
                <p class="flex alignItem">
                    <mat-icon fontIcon="style" style="color: #1890ff;"></mat-icon>
                    <span style="width: fit-content;">支持自动代码提示和主动触发代码提示两种模式（禁用代码自动提示功能后，点击 Alt+\ 即可主动生成提示代码）。</span>
                </p>
                <p class="flex alignItem">
                    <mat-icon fontIcon="view_in_ar" style="color: #1890ff;"></mat-icon>
                    <span style="width: fit-content;">您可以尝试使用在对话框中使用 / 来唤醒更多功能。</span>
                </p>
            </div>
        </div>
        }
    </div>
    <!-- 推荐问题 -->
    <div class="recommend-body">
        @for (recommend of recommendList; track $index) {
        <button class="recommend" style="margin: 2px;" mat-button (click)="sendMessage(recommend)">{{ recommend
            }}</button>
        }
    </div>
    @if (isReceiving()) {
    <div align="center" class="pt10">
        <div class="mb10">
            <button (click)="closeMessage()" mat-button>
                <mat-icon>stop</mat-icon>停止生成
            </button>
        </div>
    </div>
    }
    <app-intelligent-text-area [(content)]="codeContent"></app-intelligent-text-area>
    <!-- 复合输入框 提及功能 -->
    <div class="input-area">
        <mat-icon class="send-button" (click)="sendMessage()">send</mat-icon>
    </div>
    <!-- 展示选中代码框 -->
    @if(selectedCode()) {
    <app-show-selected-code [(code)]="selectedCode"></app-show-selected-code>
    }

</section>