<div class="flex flex-direction-column h-full">
    <div style="flex: 1; padding: 10px; overflow: auto;">
        <app-normal-editor [content]="selectedCode()" [extensions]="extensions"></app-normal-editor>
    </div>
    <div class="action-bar">
        <mat-form-field>
            <mat-label>选择要转换的语言</mat-label>
            <mat-select [formControl]="targetLang">
                @for (item of languageList; track $index) {
                    <mat-option [value]="item.value">{{ item.label }}</mat-option>
                }
            </mat-select>
        </mat-form-field>
        <button mat-button (click)="translate()" [disabled]="isRunning()">转换{{ isRunning() ? '中...' : '' }}</button>
        @if (translateCode()) {
            <button mat-button (click)="insertCode()">插入</button>
        }
        
    </div>
    <div style="flex: 1; padding: 10px; overflow: auto;">
        <app-normal-editor [content]="translateCode()" [extensions]="extensions"></app-normal-editor>
    </div>
</div>
